
:root {
    --lightey: hsl(0, 0%, 100%);
    /*--bg: rgba(35, 16, 16, 0.49);*/
    --bg: rgba(48, 48, 48, 0.98);
    --c-border-url-form-style: #DDDDDD;
    --c-label-url-form-style: #B9B9B9;
}

body {
    margin: 0;
    background-color: var(--bg) !important;
}

.url-form-style {
    max-width: 650px;
    margin: 50px auto;
    background: var(--lightey);
    border-radius: 0px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.url-form-style ul {
    list-style:none;
    padding:0;
    margin:0;
}
.url-form-style li {
    display: block;
    padding: 9px;
    border:1px solid var(--c-border-url-form-style);
    margin-bottom: 30px;
    border-radius: 0px;
}
.url-form-style li:last-child {
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.url-form-style li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: var(--lightey);
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: var(--c-label-url-form-style);
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.url-form-style input[type="text"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.url-form-style li > span {
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.url-form-style input[type="submit"] {
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 0px;
    color: #D2E2FF;
    cursor: pointer;
}

.url-form-style input[type="submit"]:hover {
    background: #6B9FFF;
    color: var(--lightey);
}

#result_frame {
    width: 100%;
    height: 500px;
    max-width: 650px;
    margin: 0 auto;
    display: block;
    background: var(--lightey);
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.download-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 278px;
    display: block;
    margin: auto;
}

.download-button:hover {
    opacity: 1;
}