
:root {
    --ruby: hsla(0, 43%, 33%, 0.87);
    --ruby2: rgba(100, 50, 50, 0.897);
    --ruby3: hsla(0, 41%, 26%, 0.808);
    --darkgrey: hsla(0, 0%, 0%, 0.87);
    --lightey: hsl(0, 0%, 100%);
    --mousy: hsla(0, 8%, 20%, 0.685);
    --grassy:rgba(79, 119, 47, 0.87);
    --violetta:rgba(78, 47, 119, 0.87);
    --saphire:rgba(47, 114, 119, 0.87);
    --test:rgba(8, 79, 138, 0.767);
    --cl1: rgba(35, 16, 16, 0.49)
}

body {
    /* background-image: url(); */
    background-position: 1% 2.1%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300px 300px;
    background-color: var(--cl1) !important;
}

.url-form-style{
    max-width: 650px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.url-form-style ul{
    list-style:none;
    padding:0;
    margin:0;
}
.url-form-style li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.url-form-style li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.url-form-style li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.url-form-style input[type="text"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.url-form-style input[type="text"]:focus,
.url-form-style:focus
{
}

.url-form-style li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.url-form-style input[type="submit"]
{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}

.url-form-style input[type="submit"]:hover {
    background: #6B9FFF;
    color: #fff;
}
/*
input {
    font-family: arial, sans-serif;
    padding:5px;
    margin-bottom:5px;
}


.URL-input[type=text] {
    transition: width 0.4s ease-in-out;
}

.URL-input[type=text]:focus {
    width: 30%;
  }
  */
#result_frame {
    width: 500px;
    height: 500px;
    max-width: 650px;
    margin: 0 auto;
    display: block;
    background: #fff;
    border-radius: 3px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#second_result_frame {
    width:500px;
    height:500px;
    max-width: 650px;
    margin: 0 auto;
    display: block;
    background: #fff;
    border-radius: 3px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--darkgrey);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--lightey);
    text-align: center;
}